* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  color: #000;
  list-style-type: none;
}
article header,
article .text {
  text-align: center;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 100, 111);
  font-family: sans-serif;
}
.container article {
  width: 80vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-zone,
.degrees {
  display: flex;
  padding: 2rem;
  line-height: 0;
  color: #fff;
}

.text {
  margin-top: 2rem;
}

.search {
  height: 1.5rem;
  padding: 0.6rem;
  border: none;
  border-radius: 3px;
}
.search:hover,
.search:active {
  background-color: rgb(188, 233, 241);
}
.btn {
  padding: 0.2rem;
  border: none;
  border-radius: 3px;
}
.btn:hover {
  background-color: rgb(188, 233, 241);
  cursor: pointer;
}

p,
h1,
h2,
li,
span {
  color: #fff;
  padding: 1rem;
}

.degrees {
  flex-direction: column;
  align-items: center;
}
.time-zone h2 {
  margin: 0 2rem;
}
.temp {
  margin: 2rem 0;
  padding-right: 0;
  cursor: pointer;
  display: inline-block;
  /* outline: red 1px solid; */
}
span {
  margin-left: 0.2rem 0;
  display: inline-block;
  padding: 0;
  color: transparent;
}
span.show {
  color: #fff;
}
.deg {
  position: relative;
  bottom: 4px;
  right: 4px;
  padding: 0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: rgb(47, 150, 163);
}

/* Style the buttons that are used to open the tab content */
.tab li {
  background-color: rgb(47, 150, 163);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab li:hover {
  background-color: rgb(27, 99, 110);
}

/* Create an active/current tablink class */
.tab li.active {
  background-color: rgb(27, 99, 110);
}

/* Style the tab content */
.tab-page {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tab-page.active {
  display: block;
}
